@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=San+Francisco&display=swap');
@import url('^1^');
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans/OpenSans-Regular.eot");
  src: url("../fonts/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/opensans/OpenSans-Regular.woff") format("woff"),
       url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}




.sq{
display: inline;
background-color: aqua;
height: 400px;
width: 100px;
top:1000px;
}


.science{
 display: flex;


  font-weight: bold;
  font-family: 'San Francisco', sans-serif;
  align-items: center;
  justify-content: center;

border-radius: 50px;

}

.soc{
  display: inline-block;

  background-color: brown;
  border-radius: 15px;
text-align: center;
line-height: 50px;
vertical-align: middle;

width: 130px;


height: 40px;
top: 690px;
right: 800px;
position: absolute;
transition: all 0.5s;

}
.soc:hover {
    transform: scale(1.1);
}
.sam{

    display: flex;
  background-color: yellow;
  border-radius: 15px;
align-items: center;
justify-content: center;
width: 130px;
height: 40px;
top: 690px;
right: 650px;
position: absolute;
transition: all 0.5s;

}
.sam:hover {
    transform: scale(1.1);
}

.psih{
  display: flex;
  background-color: white;
  border-radius: 15px;
align-items: center;
justify-content: center;
width: 130px;
height: 40px;
top: 690px;
right: 500px;

transition: all 0.5s;

}
.psih:hover{
    transform: scale(1.1);
}

.therapy{

   display: flex;
  background-color: grey;
  border-radius: 15px;
align-items: center;
justify-content: center;
width: 130px;
height: 40px;
top: 690px;
right: 300px;
position: absolute;
transition: all 0.5s;
}

.therapy:hover {
    transform: scale(1.1);
}

.inf{
display: flex;
position: absolute;

font-family: verdana;
font-size: 20px;
right: 980px;
top: 650px;

}



.maintext{
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-family: 'San Francisco', sans-serif;
position: absolute;
top: 470px;
right: 330px;
width: 700px;
text-align: justify;


}
.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 50%;
  margin: 0 auto;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
   
.subscribe {
  display: flex;
  align-items: center;
  background-color: #fff5d7;
  width: 200px; /* Я добавил это свойство с значением 200px */
  height: 50px; /* Я добавил это свойство с значением 100px */
  font-size: 10px; /* Я добавил это свойство с значением 14px */
  
  padding: 5px; /* Я изменил это свойство на 5px */
  border-radius: 15px; /* Я изменил это свойство на 3px */
  font-family: "Open Sans";
 
  color: hsl(16, 100%, 66%);
  transition: background-color 0.5s;
  margin-right: 260px; /* Я добавил это свойство с значением 10px */
  transition: all 0.5s;
}




        .stat {
          display: flex;
          align-items: center;
          background-color: #00bfff;
          width: 200px; /* Я добавил это свойство с значением 200px */
            height: 50px; /* Я добавил это свойство с значением 100px */
            font-size: 14px; /* Я добавил это свойство с значением 14px */
            padding: 5px; /* Я изменил это свойство на 5px */
            border-radius: 15px; /* Я изменил это свойство на 3px */
          color: white;
          transition: all 0.5s;
      
cursor: pointer;

font-weight: bold;
font-family: 'San Francisco', sans-serif;  }

input, button {
  width: 110px;
  height: 20px;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #ff69b4, #00bfff); /* Я добавил это свойство с градиентом */
  color: white;
  border: none; /* Я добавил это свойство, чтобы убрать границу */
  box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Я добавил это свойство с тенью */
  transition: all 0.5s; /* Я добавил это свойство с переходом */

  

}
input:hover, button:hover {
  transform: scale(1.1); /* Я добавил это свойство с преобразованием */





}

form {
  margin-left: 110px; /* Я добавил это свойство с значением 10px */
}

.stat:hover {
   
    
    
  
transform: scale(1.1);
    background-color: rgb(243, 217, 241);
    }

 .numbers{
color: white;

.white {
  color: white;
}

.pink {
  color: green;
}


h1, h2, p {
  margin: 0;
  margin-right: 10px; /* Я добавил это свойство с значением 10px */

}

}



.subscribe:hover {
    transform: scale(1.1);

  
  }

  .textin{
    font-family: 'San Francisco', sans-serif;
    font-weight: bold;

  }
  
  
  
  aside {
    display: flex;
    position: absolute;
    width: 40%;
    
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    position: absolute;
    right: 10px;
    top:1000px;
    font-family: 'Roboto', sans-serif;


  }
  
  aside > p {
    margin: 0.5rem;
  }
  footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  
  
  
  
  header {
    background-color: #3d91c2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
    padding: 0em;
    margin-bottom: 1em;
    position:fixed;
    z-index: 1;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
  
  
  left:0;
  
  top:0;
  
  width: 100%;
  
  
    
  }
  
  .burger-container {
    width: 50px;
    height: 50px;
    position: relative;
    padding-right: 200px;
    transform: translateX(190px);
  
  
    margin-left: -200px;
  }
  
  .burger-button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: translate(1px, 0px);
      
  
  }
  
  
  .burger-line {
    width: 80%;
    height: 4px;
    background: rgba(219, 219, 219, 0.699);
    position: absolute;
    left: 10%;
    right: 10%;
    transition: all 0.3s;
    border-radius: 20%;
    
  }
  
  .burger-line:first-child {
    top: 20%;
  }
  
  .burger-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger-line:last-child {
    bottom: 20%;
  }
  
  
  .burger-button:focus .burger-line:first-child {
    transform: translateY(12px) rotate(45deg);
  }
  
  .burger-button:focus .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-button:focus .burger-line:last-child {
    transform: translateY(-12px) rotate(-45deg);
  }
  
  
  
  
  .logo {
    display: flex;
   


    transform: translateX(10px);
    cursor: pointer;
    margin-right: 400px;
    width: 60px;
   height: auto;

    
    
  }
  
  .nav {
    display: flex;
    justify-content: start;
    column-gap: 2em;
    transform: translateX(-200px);
    
  }
  
  .grow {
    flex-grow: 1;
  }
  
  a {
    color: white;
    text-decoration: none;
    
  }
  
  a:hover {
    color: lightgrey;
  }
  
  a.active {
    background-color: #666;
  }
  
  
  
  
  
  
  body {  
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    background-color: hsl(194, 84%, 46%);
    padding: 4em;
    
  }
  
  
  
  

  
  .main-image {
    display: flex;
  
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    border-radius: 40px;
    object-fit: cover;
   
  
  
  }
  .spec img{
    height: 300px;
    width: 700px;
    border-radius: 40px;
    border: 3px solid white;
    

  }
  
  
  
  
  @media (min-width: 1200px) {
    .burger-line {
      width: 80%;
      height: 4px;
      position:absolute;
      left: 50%;
      right: 20%;
  } 
  .burger-container {
    transform: translateX(170px);
  
  }


  }
  @media (min-width: 992px) and (max-width: 1199px) {
    body {
      background-color: lightgreen;
      font-size: 20px;
  }
    
    
    .burger-line {
      width: 80%;
      height: 4px;
      position:absolute;
      left: 50%;
      right: 20%;
  } 
  .burger-container {
    transform: translateX(170px);
  
  }

  
  }
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      background-color: lavender;
      font-size: 18px;

  }
  .logo{
  
    width: 6%;

  }
    

    .burger-line {
      width: 80%;
      height: 4px;
      position:absolute;
      left: 50%;
      right: 20%;
  } 
  .burger-container {
    transform: translateX(170px);
  
  }
  aside{
    transform: translate(10px, -20px);
  
  }
  .soc {
    width: 50vw;
}

  }
  @media (min-width: 480px) and (max-width: 767px) {
    body {
      background-color: grey;
      font-size: 18px;
      flex: 50%;


  }
 
    
  .logo{
  
    width: 100%;
  

  }
    
    .burger-line {
      width: 80%;
      height: 4px;
      position:absolute;
      left: 10%;
      right: 20%; 
      width: 250%;
  } 
  .burger-container {
    transform: translateX(170px);
  
  }
  aside{
    transform: translate(10px, -20px);
  
  }
  }
  
  
  @media (min-width: 320px) and (max-width: 479px) {
    body {
      background-color: peru;
      font-size: 20px;
  }
    
    
    .burger-line {
      width: 80%;
      height: 4px;
      position:absolute;
      left: 50%;
      right: 20%;
  } 
  .burger-container {
    transform: translateX(170px);
  
  }
  aside{
    transform: translate(-180px, 40px);
  
  }
  article{
    transform: translate(-60px, 40px);
  
  }
  .item:nth-child(odd){
    transform: translate(50px, 40px);
  
  
  }
  .item:nth-child(even) { 
    transform: translate(285px, 40px);
  
  
  }
  .textone{
    transform: translate(100px, -190px);
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
    
  }
  
  .texttwo{
    transform: translate(165px, -190px);
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
  
  }
  .textthree{
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
    transform: translate(165px, -190px);
  }
    
  
    .textfour{
      word-break: break-all;
      overflow-wrap: break-word;
      hyphens: auto;
      transform: translate(165px, -190px);
    }
    .logo{
  
      width: 50%;

    }
  }
  